<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.gcexe.qqdata.persistence.dao.PcVirustypeProvinceStatHistoryMapper">
	<resultMap id="BaseResultMap"
		type="com.gcexe.qqdata.persistence.entity.PcVirustypeProvinceStatHistoryKey">

		<id column="cnt" property="cnt" jdbcType="INTEGER" />
		<id column="province" property="province" jdbcType="VARCHAR" />
		<id column="ts" property="ts" jdbcType="TIMESTAMP" />
		<id column="virus_type" property="virusType" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="virusTypeStatisticsMap"
		type="com.gcexe.qqdata.persistence.statistics.VirusTypeStatistics">
		<id column="cnt" property="cnt" jdbcType="INTEGER" />
		<id column="mcnt" property="mcnt" jdbcType="INTEGER" />
		<id column="virus_type" property="virusType" jdbcType="VARCHAR" />
	</resultMap>

	<select id="getPCVirusTypeStatistics"
		resultMap="virusTypeStatisticsMap">
		SELECT SUM(cnt) as cnt,SUM(cnt*0.8) as mcnt,
		CASE virus_type
		WHEN 'backdoor' THEN '后门病毒'
		WHEN 'trojan' THEN '特洛伊木马'
		WHEN 'rootkit'
		THEN '恶意软件'
		WHEN 'adware' THEN '广告软件'
		WHEN 'infectvirus' THEN '感染性病毒'
		WHEN 'worm' THEN '蠕虫病毒'
		WHEN 'tenthief' THEN '隐私窃取'
		WHEN 'hacktool' THEN
		'黑客工具'
		WHEN 'packed' THEN '加壳软件'
		WHEN 'exploit' THEN '漏洞利用'
		END as
		virus_type
		from pc_virustype_province_stat_history
		WHERE virus_type
		='infectvirus' or virus_type = 'trojan' or virus_type
		='rootkit' or
		virus_type = 'backdoor'
		GROUP BY virus_type ;
	</select>
	<select id="getDayNum" resultType="java.lang.Integer">
		SELECT  COALESCE(SUM(cnt),0) as cnt
		from
		pc_virustype_province_stat_history
		where DAYOFYEAR(ts) =
		DAYOFYEAR(NOW())
	</select>
	<select id="getDayPCVirusTypeStatistics"
		resultType="java.lang.Integer">
		select  COALESCE(SUM(cnt),0) as cnt
		from pc_virustype_province_stat_history
		where hour(ts) = hour(NOW()) and DAYOFYEAR(ts) = DAYOFYEAR(NOW());
	</select>
	<select id="getYestodayPCVirusTypeStatistics"
		resultType="java.lang.Integer">
		SELECT  COALESCE(SUM(cnt),0) as cnt
		from pc_virustype_province_stat_history
		where DATEDIFF(NOW(),ts) = 1 and hour(ts) = hour(NOW())
	</select>
	<select id="getWeekPCVirusTypeStatistics"
		resultType="java.lang.Integer">
		select  COALESCE(SUM(cnt),0) as cnt
		from pc_virustype_province_stat_history
		where week(ts) = week(NOW()) and hour(ts) = hour(NOW())
	</select>
	<select id="getUpWeekPCVirusTypeStatistics"
		resultType="java.lang.Integer">
		select  COALESCE(SUM(cnt),0) as cnt
		from pc_virustype_province_stat_history
		where week(ts) = (week(NOW())-1) and hour(ts) = hour(NOW())
	</select>




	<delete id="deleteByPrimaryKey"
		parameterType="com.gcexe.qqdata.persistence.entity.PcVirustypeProvinceStatHistoryKey">

		delete from pc_virustype_province_stat_history
		where cnt
		= #{cnt,jdbcType=INTEGER}
		and province = #{province,jdbcType=VARCHAR}
		and ts = #{ts,jdbcType=TIMESTAMP}
		and virus_type =
		#{virusType,jdbcType=VARCHAR}
	</delete>
	<insert id="insert"
		parameterType="com.gcexe.qqdata.persistence.entity.PcVirustypeProvinceStatHistoryKey">

		insert into pc_virustype_province_stat_history (cnt,
		province, ts,
		virus_type)
		values (#{cnt,jdbcType=INTEGER},
		#{province,jdbcType=VARCHAR},
		#{ts,jdbcType=TIMESTAMP},
		#{virusType,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.gcexe.qqdata.persistence.entity.PcVirustypeProvinceStatHistoryKey">

		insert into pc_virustype_province_stat_history
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="cnt != null">
				cnt,
			</if>
			<if test="province != null">
				province,
			</if>
			<if test="ts != null">
				ts,
			</if>
			<if test="virusType != null">
				virus_type,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="cnt != null">
				#{cnt,jdbcType=INTEGER},
			</if>
			<if test="province != null">
				#{province,jdbcType=VARCHAR},
			</if>
			<if test="ts != null">
				#{ts,jdbcType=TIMESTAMP},
			</if>
			<if test="virusType != null">
				#{virusType,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
</mapper>